* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font-size: 16px;
	padding: 0 20px;
}

section {
	padding: 20px 20px 60px;
}

.lead-section {
	margin: 20px 0 0;
  background: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 50%, #DAE0E6 130%); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 50%, #DAE0E6 130%); /* For Firefox 3.6-15 */
  background: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 50%, #DAE0E6 130%);  /* For IE */
  background: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 50%, #DAE0E6 130%); /* For Chrome */ 
  background: radial-gradient(circle farthest-corner at center, #FFFFFF 50%, #DAE0E6 130%); /* Standard syntax */;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.86);
	-moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.86);
	box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.86);
}

	.pic-wrapper {
		width: 600px;
		margin: 0 auto;
	}
		.grassroots-logo {
			display: block;
			width: 500px;
			margin: 0 auto;
		}
		.pic-wrapper p {
			display: block;
			position: relative;
			bottom: 15px;
			margin-left: 28%;
			font-size: 2.25em;
		}
hr {
	height: 20px;
	background-color: rgba(68, 131, 145, 1);
}

#photo-gallery {
	position: relative;
	height: 550px;
	margin: 0 17% 25px 0;
}

	#photo-gallery p {
		margin-bottom: 10px;
		font-size: 2em; 
		text-align: center;
	}

	.rotating-item {
		display: none;
		position: absolute;
		top: 75px;
		height: 470px;
		width: 115%;
		overflow: hidden;
	}

		#photo-gallery img {
			width: 100%;
		}
	

#form {
	width: 80%;
}
	
	#mc_embed_signup {
		width: 80%;
		margin: 0 auto;
		font-size: 18px;
	}

	#cta-section span {
		font-size: 1.5em;
		float: left;
	}
	

		#mce-EMAIL, #mce-FNAME, #mce-LNAME {
			width: 100%;
			height: 40px;
			border-radius: 3px;
			line-height: 1.75em;
			text-indent: 5px;
			font-size: 1.5em;
			display: inline;
			float: left;
			border:none;
			border-bottom: 1px solid black;
		}

		#mce-EMAIL:focus, #mce-FNAME:focus, #mce-LNAME:focus {
			outline: none;
		}


		#mce-FNAME,
		#mce-LNAME 
		{
			width: 30%;
			margin: -16px 5px 20px;
		}

		#mce-EMAIL {
			width: 40%;
			margin: -14px 0 0 5px;
		}

		@media screen and (max-width: 940px) {

			#mce-EMAIL, #mce-FNAME, #mce-LNAME {
				font-size: 1em;
				line-height: 3em;
			}
			#mce-FNAME, #mce-LNAME {
				margin-top: -22px;
			}

			#cta-section span {
				font-size: 1.10em;
			}
		}

		
			
	.input-group {
		clear: both;
		font-size: 1.10em;
		padding: 15px 0 0;
	}

		.input-group strong {
			display: block;
			margin-bottom: 15px
		}

		.input-group li {
			margin-bottom: 10px;
		}
			.input-group li input {
				width: 20px;
				height: 20px;
			}
			.input-group li label {
				position: relative; 
				bottom: 4px;
				left: 8px;
			}

			/* For Inputs */ 

			

	.button-wrapper {
		padding: 10px 0 10px 10px;
		background-color: #336699;
	}
		.button {
			width: 24%;
			height: 30px;
			font-size: 16px;
		}

